/* basic stepup */

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Helvetica Neue', sans-serif;
    font-family: 'Helvetica 25 UltraLight', sans-serif;
    font-family: 'Helvetica 35 Thin', sans-serif;
    font-family: 'Helvetica 45 Light', sans-serif;
    font-family: 'Helvetica 55 Roman', sans-serif;
    font-family: 'Helvetica 65 Medium', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: #545454;
    text-rendering: optimizeLegibility;
}

/* reusable components */

.row {
    max-width: 1170px;
    margin:0 auto;
}

section {
    padding: 150px 0;
}

.icon-small{
    color: #fff;
    display: inline-block;
    font-size: 80%;
    margin-right: 15px;
}
h1,h3,h5 {
    margin-top: 0;
    font-weight: 600;
    text-transform: uppercase;
}
h1 {
    color: #fff;
    font-size: 280%;
    word-spacing: 3px;
    letter-spacing: 1px;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: center;
}

h3 {
    color: #232323;
    font-family: 'Titillium Web', sans-serif;
    font-size: 150%;
    line-height: 145%;
    letter-spacing: 1.28px;
    margin-bottom: 0;
}

h5 {
    font-size: 90%;
    color: #777;
    letter-spacing: 0.56px;
    position: relative;
    padding-left: 50px;
    margin-bottom: 5px;

}

h5::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 10px;
    height: 2px;
    width: 35px;
    background-color: #f1c40f;
}

.quote-text-para{
    color: #fff;
    font-size: 80%;
    line-height: 145%;
    width: 60%;
    margin-left: 20%;
    text-align: center;
    margin-bottom: 30px;
    font-style: italic;
}

.para {
    color: #777;
    font-size: 90%;
    line-height: 145%;
    letter-spacing: 1px;
    padding: 15px 0;
    margin-bottom: 5px;
}

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 70%;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 20px 0 0;
    transition: background-color 0.2s, color 0.2s;
}

.btn:active,
.btn:hover {
    background-color: #fff;
    color: #0084b4;
}

.btn-blue {
    background-color: #0084b4;
    color: #fff;
}

.btn-orange {
    background-color: #f1c40f;
    color: #000;
}

.cl-yellow {
    color: #f1c40f;
}

.cl-blue {
    color: #0084b4;
}

/* header section start */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* header-social nav start */
.header-social {
    background-color: #232323;
}

.contant-nav,
.social-nav {
    padding: 20px 0;  
}

.contant-nav{
    float: left;
}

.social-nav{
    float: right;
}

.contant-nav li,
.social-nav li {
    display: inline-block;
    margin-right: 15px;
}

.contant-nav li a:link,
.contant-nav li a:visited,
.social-nav li a:link,
.social-nav li a:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 80%;
    font-weight: 300;
    transition: color 0.2s;
}

.contant-nav li a:active,
.contant-nav li a:hover,
.social-nav li a:active,
.social-nav li a:hover {
    color: #f1c40f;
}
/* header-social nav end */

/* main navbar start */
.main-navbar {
    background-color: #fff;
}
.logo {
    float: left;
    padding: 20px 0;
}

.main-nav {
    float: right;
    padding-top: 35px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited {
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    color: #000;
    font-size: 80%;
    text-transform: uppercase;
    font-weight: 300;
    transition: background-color 0.2s, color 0.2s, border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    background-color: #0084b4;
    color: #fff;
    font-weight: 700;
    border-bottom: 2px solid #f1c40f;
}

/* main navbar end */

.head-quote{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


/* header section end */

/* about us section start */

/* .section-about {
    padding: 150px 0;
} */
.sincerity {
    color: #000;
    font-size: 90%;
    line-height: 150%;
    font-weight: 400;
}

.sincerity p {
    margin-bottom: 25px;
}

.sincerity-list li{
    margin-bottom: 20px;
}

.sincerity .icon-small {
    color: #f1c40f;
}

/* about us section end */

/* offer section start */

.section-offer {
    background-image: linear-gradient(rgba(16, 133, 200, 0.8),rgba(16, 133, 200, 0.8)), url(img/offer-bg.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 70px 0;
}
.offer-quote {
    text-align: center;

}

.offer-quote h3 {
    color: #fff;
    margin-bottom: 25px;
}

/* offer section end */

/* service section start */
.section-service {
    background-color: #f9f9f9;
}

.section-service .btn {
    margin-top: 15px;
}

.img-card {
    max-width: 30%;
    background-color: #fff;
    float: left;
    margin-right: 3%;
}

.img-card img {
    max-width: 100%;
    margin-bottom: 10px;
}

.card-body,
.card-footer {
    text-align: left;
    padding: 15px;
}

.card-body h6 {
    font-size: 95%;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
}

.card-body p {
    color: #777;
    font-size: 80%;
    line-height: 145%;
    letter-spacing: 1.5px;
}

.card-footer {
    padding: 20px;
}

.card-footer a{
    text-decoration: none;
    text-transform: uppercase;
    color: #0084b4;
    letter-spacing: 1px;
    font-size: 75%;
    line-height: 145%;
}

/* service section end */

/* work section start */

.work-list {
    margin-top: 50px;
}

.work-list li {
    float: left;
    display: inline-block;
    margin-right: 20px;
}

.work-list li a:link,
.work-list li a:visited {
    font-size: 80%;
    color: #777;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    transition: color 0.2s;
}

.work-list li a:active, 
.work-list li a:hover {
    color: #f1c40f;
}

.work-gallery {
    margin-top: 30px;
}

/* work section end */

/* counter section start */

.section-counter {
    background-color: #0084b4;
    padding: 70px 0;
}

.counter-box {
    padding: 0 15px;
}

.big-icon {
    padding-right: 16px;
    font-size: 150%;
    color: #f1c40f;
}

.count {
    color: #fff;
    font-size: 210%;
    font-weight: 700;
    letter-spacing: 1.056px;
    margin-top: 0;
    margin-bottom: 5px;
}

.count-text {
    color: #fff;
    font-weight: 400;
    font-family: 'Titillium Web', sans-serif;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    line-height: 145%;
    margin-top: 10px;
    margin-bottom: 0;
}

/* counter section end */